<div class="row titulo">
  <div class="display-4">VeganFood</div>
</div>
<div class="l-paneles p-3">
<app-panel-compras class="l-paneles__compras"></app-panel-compras>
<app-panel-clientes class="l-paneles__clientes"></app-panel-clientes>
<app-panel-productos class="l-paneles__productos"></app-panel-productos>
<app-panel-recetas class="l-paneles__recetas"></app-panel-recetas>
<app-panel-ingresos class="l-paneles__ingresos-anuales"></app-panel-ingresos>
<app-panel-productos-comprados class="l-paneles__productos-mas-comprados"></app-panel-productos-comprados>
<app-panel-compras-categoria class="l-paneles__compras-por-categoria"></app-panel-compras-categoria>
</div>
